h2{
    color:black;
    background-color:rgb(81, 234, 162);
}

div#zentai {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
    padding: 20px;
}

div#zentai > div {
	border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	padding:10px;
	background-color: #ffefaf;
}